asgiref
Django
mysqlclient
certifi
charset-normalizer
crispy-bootstrap5
django-cors-headers
django-crispy-forms
et_xmlfile
idna
numpy
openpyxl
pandas
pillow
python-dateutil
python-decouple
pytz
requests
six
sqlparse
tzdata
urllib3