{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIGAR RINGS</title>

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'grabados/css/grabado_consulta.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo/Imagen1.png' %}">
    
    {% block title %}CIGAR RINGS{% endblock %}


</head>
<body>
    <div id="refresh-notification" class="notification"></div>
    {% include 'components/sidebar.html' %}

    <main class="main-content">
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
            {# El contenido de las plantillas hijas irá aquí #}
        {% endblock content %}
    </main>

    <!-- jQuery and Select2 JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{% static 'js/components/sidebar.js' %}"></script>
    <script src="{% static 'grabados/js/grabado_consulta.js' %}"></script>
</body>
   

    


    
   

</html>